
@media screen and (max-width: 3000px){
  .container {
    width: 1170px;
    margin:0 auto;
  }
  .cover .desc {
    padding-top:33%;
  }
}
@media screen and (max-width: 1200px){
  .container {
    width: 970px;
    margin:0 auto;
  }
  .cover .desc {
    padding-top:39%;
  }
}
@media screen and (max-width: 992px){
  .container {
    width: 760px;
    margin:0 auto;
  }
  .cover .desc {
    padding-top:17%;
  }
  .container .lists{
    width: 100% !important
  }
  
  .list {
    padding:0 15%
  }
  .list-libox {
    width: 100% !important
    padding-top:.2rem !important
  }
  .cover2 {
    height:auto !important
    padding-bottom:.7rem !important
  }
}
@media screen and (max-width: 768px){
  .container {
    width: 100%;
    margin:0 auto;
  }
  .cover .desc {
    padding-top:21%;
  }
  .lists {
    width: 100%
    padding:0 0.5rem !important
  }
  
  

}
